<h2>Stupid stupid coach</h2>
<blockquote class="question">
  <%= @question %>
  <p style="font-style:italic;"><strong>-You</strong></p>
</blockquote>


<blockquote class="answer">
  <%= @answer %>
  <p style="font-style:italic;"><strong>-Your coach</strong></p>
</blockquote>

<%= link_to "Ask a new question", "/ask" %>